.pagination {
    padding: 0;
    margin: 0 20px 0 0;
    float: right;
    ul {
        margin: 0;
    }
    li.active a, li.active span {
        z-index: 1;
        color: #fff;
        background-color: @blue_header;
        border-color: @blue_header;
    }
    li a,  li span {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: @blue_header;
        background-color: #fff;
        border: 1px solid @footer-bgcolor;
        border-radius: .25rem;
    }
}

.pagination-info {
    display: block;
    float: right;
    padding: .375rem .75rem;
    float: right;
}

.pagination-block {
	margin: 0px;
	overflow: hidden;
}

.pagination-list {
	float: right;
}

.results {
	width: 100%;
}
.results-footer {
	width: 100%;
}