{% load suit_tags %}
{% load i18n admin_static admin_list admin_urls suit_list suit_tags %}
{% load url from suit_compat %}

{% if nivel == 1 %}
    <ul class="breadcrumb">
        <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
            {% if title %}
            <span class="divider">/</span>
        </li>
        <li class="active">
            {{ title }}
            {% endif %}
        </li>
    </ul>
{% endif %}
{% if nivel == 2 %}
    <ul class="breadcrumb">
      <li><a href="{% url 'admin:index' %}">{% trans 'Home' %} </a>
        <span class="divider">/</span></li>
      <li class="active">{{ cl.opts.verbose_name_plural|capfirst }}</li>
    </ul>
{% endif %}
{% if nivel == 3 %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    <span class="divider">/</span>
  </li>
  <li>
    {% if has_change_permission %}
    <a href="{% url opts|admin_urlname:'changelist' %}">
      {{ opts.verbose_name_plural|capfirst }}</a>{% else %}
    {{ opts.verbose_name_plural|capfirst }}{% endif %}
    <span class="divider">/</span>
  </li>
  <li class="active">
    {% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
  </li>
</ul>
{% endif %}