.mb1-l {
	background-color: #F6F7F8;
	border-radius: 0px;
	border: 1px solid #EDEDED;
	margin-bottom: 0;
	padding: 20px;
}
.mb-1px {
	margin-bottom: 1px!important;
}
.mr-1px {
	margin-right: 1px!important;
}
.mt-1px {
	margin-top: 1px!important;
}
.ml-1px {
	margin-left: 1px!important;
}

.width-btn-min {
	min-width: 100px;
}

.font-16 {
	font-size: 16px;
}
.w-15 {
	width: 15%;
}
select[name=permissions_old] {
	height: 400px!important;
}
#id_permissions_to {
	height: 445px!important;
}
#id_permissions_from {
    height: 400px!important;
}

.field-quota, .field-prioridade {
	width: 200px;
}

.save-box-info {
	margin-top: 30px;
}