{% load admin_static %}{% load suit_tags %}{% load url from suit_compat %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{{ title }} | {{ 'ADMIN_NAME'|suit_conf }}{% endblock %}</title>
    {% block before_suit_styles %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.0/css/solid.css" >
    <link rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.8.0/css/fontawesome.css" >
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Do+Hyeon|Roboto">
    <link rel="stylesheet" type="text/css" href="{% static 'suit/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'suit/css/suit.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'suit/css/ajustes.css' %}">
    <link rel="shortcut icon" type='image/x-icon' href="{% static 'image/favicon.ico' %}">
    {% block extrastyle %}{% endblock %}
    <script src="{% static 'suit/js/jquery-3.3.1.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'suit/bootstrap/js/popper.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'suit/bootstrap/js/bootstrap.min.js' %}" type="application/javascript"></script>
    {% block extrahead %}{% endblock %}
</head>
{% load i18n %}
<body class="{% block bodyclass %}{% endblock %}">
  <!-- Container -->
  {% block container %}
    <div class="wrapper">
      {% block header %}
        <div id="header" class="header row ">
          <div class="sidebar-header">
            <a href="{% if user.is_authenticated %} {% url 'admin:index' %} {% else %}/{% endif %}" class="sidebarCollapse ">
              <h1 id="site-name" >{% block branding %}{{ 'ADMIN_NAME'|suit_conf }}{% endblock %}</h1>
            </a>
          </div>
          {% if not is_popup %}
            {% block breadcrumbs %}
              {% include "admin/includes/breadcrumbs.html" with nivel=0  %}
            {% endblock %}
          {% endif %}
          {% block header_content %} {% endblock %}
          <div id="user-tools" class="text-right col align-self-end">
            {% if user.is_active and user.is_staff %}
              <span class="header-content-name">
                {% block welcome-msg %}
                  {% trans 'Welcome,' %}
                  <strong class="pr-4 ">
                    {% filter force_escape %}
                      {% firstof user.first_name%}
                    {% endfilter %}
                  </strong>
                {% endblock %}
              </span>    
              {% block userlinks %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                  <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
                  <span class="separator">|</span>
                {% endif %}
                <a href="{% url 'admin:logout' %}"><i class="fas fa-sign-out-alt"></i></a>
              {% endblock %}
            {% else %}
              <a href="{% url 'admin:login' %}"><i class="fas fa-sign-in-alt"></i></a>
            {% endif %}
          </div>
          {% block nav-global %}{% endblock %}
        </div>
      {% endblock %}
      <!-- END Header -->
      {% block content-left %}
        {% include 'suit/menu.html' %}
      {% endblock %}
      <!-- END Menu -->
      {% block content-center %}
        <div id="suit-center" {% if "login" not in request.path %} class="espaco-menu" {% endif %}>
          {% block messages %}
            {% if messages %}
              {% for message in messages %}
                <div {% if "login" in request.path %} class="col-8 offset-2 pt-2" {% endif %}>
                  <div class="alert alert-{% firstof message.tags 'info' %}">
                    <button class="close" data-dismiss="alert">×</button>
                    {{ message }}
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          {% endblock messages %}
          <div id="content" class=" row-fluid">
            {% block pretitle %}{% endblock %}
            {% block content_title %}
              {% if title %}
                <h2 class="content-title">{{ title }}</h2>
              {% endif %}
            {% endblock %}
            {% block content %}
              {% block object-tools %}{% endblock %}
              {{ content }}
            {% endblock %}
            {% block sidebar_content %}
              {% block sidebar %}{% endblock %}
            {% endblock %}
          </div>
        </div>
      {% endblock %}
      <!-- END Content -->
    </div>
  {% endblock %}
  <script src="{% static 'suit/js/suit.js' %}"></script>
  {% block extrajs %}{% endblock %}
</body>
</html>